@import "bootstrap";

body {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.col-lg-12 {
	color: red;
	font-size: 5rem;
	text-align: center;
	padding-top: 20%;
}
